<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.galiview.server.mapper.my.MyCourseMapper">

    <update id="updateTime">
        update course c set `time` = (select sum(`time`) from `section` where course_id = #{courseId})
        where c.id = #{courseId}
    </update>

    <update id="updateSort" parameterType="cn.edu.zucc.galiview.server.dto.SortDto">
        update course set `sort`= #{newSort} where id = #{id}
    </update>

    <update id="moveSortsBackward" parameterType="cn.edu.zucc.galiview.server.dto.SortDto">
        <![CDATA[
        update course set `sort`= (`sort`+1) where `sort` >= #{newSort} and `sort` <= #{oldSort} and id != #{id}
        ]]>
    </update>

    <update id="moveSortsForward" parameterType="cn.edu.zucc.galiview.server.dto.SortDto">
        <![CDATA[
        update course set `sort`= (`sort`-1) where `sort` <= #{newSort} and `sort` >= #{oldSort} and id != #{id}
        ]]>
    </update>

</mapper>