<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.galiview.server.mapper.my.MyCourseMapper">

    <update id="updateTime">
        update course c set `time` = (select sum(`time`) from `section` where course_id = #{courseId})
        where c.id = #{courseId}
    </update>

</mapper>